//Overwrite the modal styles
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $mist-black;
  color: $silver-white;
  max-width: 35rem;
  padding: $xl-size;
  text-align: center;
  outline: none;
}

.modal__title {
    margin: 0 0 $sm-size 0;
}

.modal__body {
    font-size: $md-size;
    font-weight: 300;
    margin: 0 0 $lg-size 0;
    word-break: break-all;
}
