//Colors
$dark-black: #111216;
$back-black: #19191a;
$mist-black: #202022;
$light-black: #333333;
$pure-white: #ffffff;
$silver-white: #f2f2f2;
$auqa-green: #2ecc71;
$ninja-red: #dc143c;
$react-blue: #61DBFB;

//Size
$esm-size: 0.3rem;
$sm-size: 1rem;
$md-size: 1.6rem;
$lg-size: 3rem;
$xl-size: 5rem;

//Display Size
$mobile-entry: 45rem;